numpy
pandas
matplotlib
scikit-learn
seaborn
jupyter
ipykernel
nltk
wordcloud
mlflow
boto3==1.35.36
imblearn
optuna 
xgboost 
imbalanced-learn
lightgbm
plotly
Flask==3.0.3
Flask_Cors==5.0.0
joblib==1.4.2
dvc==3.53.0
dvc[s3]
wordcloud==1.9.3