name: workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"

permissions:
  id-token: write
  contents: read

jobs:
  integration:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "Linting"
      - run: echo "Testing"

  build-and-push:
    name: Continuous Delivery
    needs: integration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: aws-actions/amazon-ecr-login@v1
        id: login
      - run: docker build -t ${{ steps.login.outputs.registry }}/${{ secrets.ECR_REPOSITORY_NAME }}:latest .
      - run: docker push ${{ steps.login.outputs.registry }}/${{ secrets.ECR_REPOSITORY_NAME }}:latest

  deploy:
    name: Continuous Deployment
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - uses: aws-actions/amazon-ecr-login@v1
        id: login

      - run: docker pull ${{ steps.login.outputs.registry }}/${{ secrets.ECR_REPOSITORY_NAME }}:latest

      - run: docker ps -q --filter "name=cnncls" | grep -q . && docker stop cnncls && docker rm -fv cnncls || true

      - run: docker run -d -p 8080:8080 --name cnncls ${{ steps.login.outputs.registry }}/${{ secrets.ECR_REPOSITORY_NAME }}:latest

      - run: docker system prune -f
